
/* 캐러셀 버튼 */
.carousel__btn {
    width: 40px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: bisque;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    cursor: pointer;
    overflow: hidden;
}

.right-btn {
    right: 0;
}

.left-btn {
    left: 0;
}
.slider-area {
    margin: 100px auto ;
    width: 1200px;
    height: 400px;
    border: 2px solid black;
    overflow: hidden;
}

.slider {
    position: relative;
}

.slider-list {
    width: 100%;
    display: flex;
    transform: translate();
    transition: transform .5s ease-in-out;
}

.slider-item {
    margin-left: 50px;
    border: 2px solid black;
}

.slider-content {
    width: 400px;
    height: 400px;
}

.main_title {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 42px;
    font-weight: 600;
    margin-top: 20px;
}

/* main */
.main {
    text-align: center;
}
.codi_title {
    font-size: 42px;
    font-weight: 600;
}
.main_inner {
    width: 1200px;
    height: 800px;
    margin: auto;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.main_inner > .codi_list > .codi_content {
    margin: 50px;
    width: 300px;
    height: 300px;

}