
*{
    font-family: 'IM_Hyemin-Bold';
}

/* 캐러셀 버튼 */
.carousel__btn {
    width: 40px;
    height: 100%;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #D9E6EF;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    cursor: pointer;
    overflow: hidden;
}

.carousel__btn:hover {
    color: black;
    background-color:rgb(243, 220, 142);
}


.right-btn {
    right: 0;
    margin: 0;
}

.left-btn {
    left: 0;
}

/* 캐러셀 */
.slider-area {
    margin: 100px auto ;
    width: 1200px;
    height: 600px;
    border: 3px solid gray;
    border-radius: 10px;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider-list {
    width: 100%;
    display: flex;
    transform: translate();
    transition: transform .5s ease-in-out;
}

.slider-item {
    margin: 40px 0 30px 80px;
    border: 2px solid darkgray;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
/* hover시 grow효과 */
.slider-item:hover {
    transform: scale(1.03);
}

.slider-content {
    box-sizing: content-box;
    cursor: pointer;
    text-align: center;
    width: 450px;
    height: 500px;
}

/* 캐러셀안에 img */
.slider-content  img{
    width: 450px;
    height: 350px;
}

.slider_content_title {
    width: 300px;
    font-size: 32px;
    margin: auto;
}

.slider_content_text {
    width: 300px;
    margin: auto;
    height: 50px;
}

/* 슬라이드 좋아요부분 */
.slider_content_like {
    display: flex;
    align-items: center;
    float: right;
    font-size: 20px;
}


.main_title {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 42px;
    font-weight: 600;
    margin-top: 20px;
}

/* main */
.main {
    text-align: center;
}
.codi_title {
    font-size: 42px;
    font-weight: 600;
    
}
.main_inner {
    width: 1200px;
    /* height: 800px; */
    margin: auto;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.main_inner > .codi_list > .codi_content {
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 30px 30px 0 30px;
    width: 330px;
    height: 350px;
    box-sizing: content-box;
    transition: all .2s ease-in-out;
}
.main_inner > .codi_list > .codi_content:hover {
    transform: scale(1.03)
}


.main_inner > .codi_list > .codi_content img{
    width: 330px;
    height: 200px;
}

/* 게시글 제목 */
.codi_content_title {
    font-size: 24px;
}
