.write_inner {
    text-align: center;
    width: 1200px;
    margin: auto;
}

.write_title {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 32px;
    font-weight: 700;
}

.write_outter {
    margin: 80px auto;
    width: 900px;
    height: 700px;
    border: 2px solid #95b2f2;
    border-radius: 10px;
}

.write_outter > .write_inner {
    position: relative;
    margin: 50px auto;
    width: 800px;
    height: 600px;
    border: 2px solid #75bceb;
    border-radius: 10px;
}

.write_outter > .write_inner > .write_inform  {
    display: flex;  
}
.write_outter > .write_inner >.write_inform > .write_input {
    width: 400px;
    height: 500px;
}

.write_outter > .write_inner > .write_inform > .write_img {
    margin: 30px 0 20px 20px;
    width: 380px;
    height: 400px;
    background-color: blanchedalmond;
}

.write_outter > .write_inner .write_content {
    margin: 10px 0 0 17px;
}

/* 등록, 취소 버튼 */
.write_btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
} 
